# Исключение виртуального окружения
.venv/

# Компилированные файлы Python
__pycache__/
*.pyc

# Логи и временные файлы
*.log
*.tmp

# Миграции Flask
migrations/

# Файлы IDE
.vscode/
.idea/

# Игнорировать конфиденциальные файлы
instance/
.env

start.txt